<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    
    <rewrite>
      <rules>
        <rule name="NextStaticAssets" stopProcessing="true">
          <match url="^_next/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3000/_next/{R:1}" />
        </rule>
        
        <rule name="PublicFolder" stopProcessing="true">
          <match url="^(.*)\.(png|jpg|jpeg|gif|svg|ico)$" />
          <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" />
        </rule>

        <rule name="ReverseProxyToNextJS" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <denyUrlSequences>
          <add sequence=".env" />
          <add sequence="/.git" />
          <add sequence="/node_modules" />
        </denyUrlSequences>
      </requestFiltering>
    </security>
    
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
